<!DOCTYPE html>
<html>

<head>
  <title>GimmeJoke 😂</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <h1>GimmeJoke 😂</h1>
  
  <div class="card">
    <p>
      <%= setup %>
      <br>
      <br>
      <%= delivery %>
    </p>
  </div>
  <p class="category">
    <h4>Joke about: <span id="category-span"><%= category %></span></h4>
  </p>
</body>

</html>